.virtual-mark{
    display: flex;

    justify-content: center;
    align-items: center;

    overflow: hidden;

    position: fixed;
    left:0;
    top: 0;
    right: 0;
    bottom: 0;



    height: 100%;
    z-index: 999;
    background-color: rgba(0,0,0,.8);

    // transition: background-color 0.3s;
    // transition-delay: .1s;
    display: none;
    visibility: hidden;
}
.vi-show{
  display: block!important;
  visibility: inherit!important;
}
.vi-hide{
    display: none!important;
    visibility: hidden!important;
}
