@txtColor:#ae8e72;
@assetTitleColor:#757575;
@bdColor:#c0c0c0;
@bodyBGColor:#fff;
@coverTxtColor:#ffca43;
@listTxtColor:#aa8a72;
@increaseTxtColor:#ff504d;
@listBdColor:#e5e5e5;
@subTxtColor:#acacac;
@import '~libs/layout/layout-mixin.less';

html, body {
  margin: 0;
  padding: 0;
  font-family: "PingFang SC","STHeitiSC-Light","Helvetica Neue","Helvetica","Arial",sans-serif,"Mircosoft YaHei";
  background: @bodyBGColor;
  height: 100%;
  font-weight: 200;
}
:global {
  .extend {
    position: relative;
  }
  .extend:before {
    content: '';
    position: absolute;
    top: -10px;
    right: -10px;
    bottom: -10px;
    left: -10px;
    z-index: 10;
  }
  .hide {
    display: none;
  }
}

main{
  /** 首页头部 **/
  .home-container {
    background: @bodyBGColor;
  }
}
.banner{
  position: relative;
  overflow: hidden;
  z-index: 1;
  max-height: 260px;
}
.swiper-pagination {
  position: absolute;
  text-align: center;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  -webkit-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  z-index: 10;
  bottom: 8px;
  left: 0;
  width: 100%;
}
.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 100%;
  background: #000;
  opacity: .5;
  margin: 0 5px;
  background-color: #fff;
}
.swiper-pagination-bullet-active {
  opacity: 1;
}
