@import '~libs/layout/layout-mixin.less';
@txtColor: #35352f;
@assetTitleColor: #90909b;
@bdColor: #c0c0c0;
@bodyBGColor: #f1f1f6;
@priceTxtColor: #fd472b;
@similarTxtColor: #66666f;
a {
    color: @txtColor;
}

.list {
    background-color: @bodyBGColor;
    padding: 5px 0 5px 5px;
    font-weight: 300;
    .flex;
    .flex-wrap;
    .item {
        color: @txtColor;
        background-color: #fff;
        width: 50%;
        border-right: 5px solid #f1f1f6;
        margin-bottom: 5px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        .img {
            display: block;
            height: 0;
            padding-bottom: 100%;
            background-color: #fff;
            overflow: hidden;
        }
        h3 {
            font-size: 14px;
            padding-left: 10px;
            margin-top: 15px;
            font-weight: normal;
            height: 40px;
            .text-line-feed;
        }
        .price {
            color: @priceTxtColor;
            font-size: 16px;
            padding-left: 10px;
            margin-top: 3px;
        }
        .icon {
            display: inline-block;
            width: 12px;
            height: 12px;
            margin-left: 5px;
            img {
                margin-top: -4px;
            }
        }
        .bottom {
            padding: 5px 10px 15px;
            font-size: 12px;
            .flex;
            .flex-justify;
            .return {
                color: @priceTxtColor;
                border-radius: 5px;
                padding: 2px 2px;
            }
            .similar {
                color: @similarTxtColor;
                border: 1px solid @assetTitleColor;
                border-radius: 5px;
                padding: 2px 5px;
            }
            .sales {
                color: @assetTitleColor;
                font-size: 12px;
                padding: 3px 5px;
            }
        }
        .score {
            .sales {
                color: @assetTitleColor;
                // border: 1px solid @priceTxtColor;
                border-radius: 5px;
                padding: 2px 5px;
            }
            .similar {
                color: @similarTxtColor;
                border: 1px solid @assetTitleColor;
                border-radius: 5px;
                padding: 2px 5px;
            }
            .tip {
                background: url('static/imgs/hotgoods/tip.png') no-repeat;
                background-size: 100% 100%;
                width: 60px;
                height: 35px;
                position: absolute;
                right: 4px;
                bottom: 20px;
            }
            .haohuoScore {
                width: 35px;
                height: 15px;
                font-size: 12px;
                color: #fff;
                margin-top: 18px;
                margin-left: 12px;
                text-align: center;
            }
        }
    }
    &.nomore:after {
        content: '-- 到底了 --';
        display: block;
        width: 100%;
        text-align: center;
        font-size: 12px;
        color: @assetTitleColor;
        line-height: 30px;
    }

    &>.tl-list-item+.tl-list-item {
        border-top: 1px solid #E6E6E6;
    }
    .tl-list-item {
        padding: 8px 8px 8px 0;        
        .flex;
        .item-start {
          width: 100px;
          padding: 0 5px;
          box-sizing: border-box;
          .flex-item(1,1,0);
          .flex;
          .flex-align-center;
          .item-coupon-bg {
            width: 100%;
            height: 100%;
            background: url('static/imgs/special/coupon-bg.png') no-repeat;
            background-size: contain;
            color: #ffffff;
            .flex;
            .flex-center;
            .flex-align-center;
          }
          .item-coupon {
            font-size: 36px;
            text-shadow: 0 2px 1px rgba(0, 0, 0, .3);
            vertical-align: bottom;
            i {
              font-size: 14px;
            }
          }
        }
        .item-end {
          position: relative;
          .flex-item(2.5,1,0);
          .flex;
          .flex-vertical;
          .flex-justify;
          .item-title {
            font-size: 14px;
            height: 30;
            .text-line-feed;
            img {
              width: 14px;
              height: 14px;
              margin-right: 3px;
            }
          }
          .item-price {
            color: #F42856;
            font-size: 12px;
          }
          .item-price-txt {
            font-size: 16px;
            font-weight: bold;
          }
          .item-old-price {
            color:#9A9A9A;
            font-size: 12px;
            text-decoration: line-through;
          }
          .item-rebate {
            border: 1px solid #F84A36;
            font-size: 10px;
            border-radius: 3px;
            color: #f84a36;
            padding: 0 3px;
          }
          .item-sales {
            margin-left: 10px;
            font-size: 10px;
            color: #6E6E6E;            
          }
          .btn-buy {
            background: #f64b58;
            position: absolute;
            right: 0;
            bottom: 0;
            padding: 8px;
            font-size: 12px;
            color: #ffffff;
            border-radius: 3px;
          }
        }
      }
}
